<!DOCTYPE html>
<html>
<head>
    <title>Sketch Search</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    <h1>Sketch Search</h1>
    <p>Welcome to Sketch Search World!</p>

    <div>
        <a href="/draw">Begin Search</a>
    </div>

    <br>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="upload" multiple="multiple">
        <input type="submit" value="Submit">
    </form>
    
    <!-- <script data-main="/javascripts/main.js" src="/javascripts/lib/requirejs/require.js"></script> -->
</body>
</html>
