<!DOCTYPE html>
<html>
<head>
    <title>Sketch Search</title>
    <link rel='stylesheet' href='/css/style.css' />
    <!-- Include Leapstrap CSS -->
    <link rel="stylesheet" href="/css/leaptrap/leapstrap.css" />
    <!-- Include jQuery (maybe you already do?) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <!-- Include Leap (maybe you already do?) -->
    <script src="js/lib/leap.js"></script>
    <!-- Include Leapstrap JS -->
    <script src="js/lib/leapstrap.js"></script>
</head>
<body>
    <div class="align-left">
        <div class="sketch">
            <img src="img/tmp.png" alt="">
        </div>
        <div id="show-obj"></div>
    </div>

    <div class="retr-result">
        
    </div>

    <script data-main="/js/app.js" src="/js/lib/require.js"></script>
</body>
</html>
